dotenv ../../config/sandbox/aks.env
dotenv ../../config/sandbox/aks-sensitive.env
dotenv ../../config/sandbox/azure.env
dotenv ../../config/sandbox/azure-dns.env
dotenv ../../config/sandbox/azure-sensitive.env
dotenv ../../config/sandbox/azure-dns-sensitive.env
dotenv ../../config/github.env
